@charset "UTF-8";

    body {
        background-color: rgb(44, 44, 44);
        color: limegreen;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    h1 {
        background-color: lightgreen;
        color: black;
    }
    h2 {
        text-align: center;
    }
